name: Test pipeline
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - preprod
      - main
  workflow_call:

jobs:
  build:
    name: Test & Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          mkdir -p coverage
          GOTOOLCHAIN=go1.25.0+auto go test -v -race `go list ./... | grep -v cmd/feature-experimentation/analyze | grep -v cmd/feature-experimentation/resource | grep -v docs` -coverprofile coverage/cover.out.tmp
          cat coverage/cover.out.tmp | grep -v "mock_\|cmd/feature-experimentation/analyze" | grep -v "mock_\|cmd/feature-experimentation/resource" | grep -v "mock_\|docs" > coverage/cover.out
          GOTOOLCHAIN=go1.25.0+auto go tool cover -func=coverage/cover.out
